<div data-controller="shorturl" class="text-center">
  <h1 data-target="shorturl.heading"></h1>
  <h3 data-target="shorturl.enterLink"></h3>
  <br />
  <input data-target="shorturl.input" type="text" /> <br />
  <button data-target="shorturl.button" data-action="shorturl#generate">
    Generate New Link
  </button>
</div>
